.DS_Store
.venv/
venv/
node_modules/
__pycache__/
*.pyc
.ipynb_checkpoints/
ml/data/raw/
ml/data/processed/
ml/models/checkpoints/
*.log
f.txt
missfont.log
project.aux
project.lof
project.lot
project.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.out
